// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Xanh+Mono&display=swap');
// Define fonts for body and headers
$body-font: 'Xanh Mono', monospace;
$headers-font: 'Xanh Mono', monospace;
$main-font: 'Xanh Mono', monospace;
$serif-font: 'Merriweather', serif;
